#services{
    background-color: var(--secondary-color);
}
.services_card{
    padding: 30px;
    background-color: aliceblue;
    border-top: 15px solid #FC7E13;
    
    height: 430px;

    border-radius: 69% 31% 97% 10% / 0% 100% 0% 100%;

}
NavHashLink:hover{
    color:var(--primary-color);
}
.services_card:hover{
   
background: rgba(255, 255, 255, 0.2);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px); 
/* background: transparent;
box-shadow: 
inset 20px 20px 20px rgba(0, 0, 0,.05),
5px 25px 20px  rgba(0, 0, 0,.05),
5px 20px 30px  rgba(0, 0, 0,.05),
inset -20px -20px 25px  rgba(255,255,255,.9); */


border: 1px solid rgba(255, 255, 255, 0.3);
color: white;
border-radius: 16px;

border-bottom: 15px solid #FC7E13;

cursor: pointer;

}
.services_head{
    color:white;
    margin-top: 3%;
    padding-top: 20px;
}
.services_para{
    color: white;
}
@media screen and (max-width:768px) {
   .swipp{
    padding: 30px !important;
   }
   .services_para{
    padding: 0 20px 0 20px;
   }
  }