.node-bg{
    background-image: url('../../../images/WebDevelopment/nodejs.png');
}
.node-qs{
    color: var(--primary-color);
}
.nodejs_img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.node_items {
    padding: 10px;
}
.node-qs {
    color: var(--primary-color);
    padding: 20px;
}