.gategory_row{
    background-color: var(--secondary-color);
    border-radius: 20px;
}
.edu_app_para{
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.educational_app{
    padding: 20px;
}
.ios_img{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
}
.ios_img_outer{
    padding: 20px;
}
.edu_app_outer{
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 10px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.edu_app_para{
    padding-left: 5px;
}
.categories_left_side{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

@media (max-width:768px) {
   .categories_heading{
    padding: 0 10px 20px 30px;
    display: flex;
    justify-content: center;
   }
   .categories_para{
    padding: 0 10px 0 20px;
   }
   .educational_app_4th {
    padding-left: 70px;
}
.categories_para{
    padding-left:40px !important;
}
.categories_left_side{
 
    padding-left: 20px;
}
.ios_img_outer {
    padding: 20px 40px 20px 40px;
}
.e_app{
    margin-left: 40px !important;
}
.educational_app_4th {
    padding-left: 70px !important;
}
}


.educational_app_4th {
    padding-left: 40px;
}
.e_app{
    margin-left: 100px;
}